
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model GeyikLoung.Entities.Category

@using (Html.BeginForm("Create", "Category", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        <label>Kategori Adı:</label>
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>

    <div>
        <label>Kategori Resmi:</label>
        <input type="file" name="imageFile" class="form-control" />
    </div>

    <div id="altKategoriler">
        <label>Alt Kategoriler:</label>
        <div class="altKategori">
            <input type="text" name="altKategoriNames[]" class="form-control" />
            <button type="button" class="btn btn-danger removeAltKategori">Sil</button>
        </div>
    </div>

    <button type="button" id="addAltKategori" class="btn btn-success">Alt Kategori Ekle</button>

    <div>
        <input type="submit" value="Kaydet" class="btn btn-primary" />
    </div>
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>$(document).ready(function () {
        $("#addAltKategori").click(function () {
            $("#altKategoriler").append(
                '<div class="altKategori"><input type="text" name="altKategoriNames[]" class="form-control" />' +
                '<button type="button" class="btn btn-danger removeAltKategori">Sil</button></div>'
            );
        });

        $(document).on("click", ".removeAltKategori", function () {
            $(this).parent().remove();
        });
    });</script>

