
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model GeyikLoung.Entities.Category

@using (Html.BeginForm("Edit", "Category", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.Id)

    <div class="form-group">
        <label for="Name">Kategori Adı</label>
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="Image">Kategori Resmi</label>
        <input type="file" name="imageFile" class="form-control" />
    </div>

    <div class="form-group">
        <label for="AltKategoriler">Alt Kategori Seçin</label>
        @Html.DropDownListFor(m => m.AltKategoriler, (SelectList)ViewBag.AltKategoriler, "Alt Kategori Seçin", new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Düzenle</button>
}
