
@{
    Layout = null;
}

@model IEnumerable<GeyikLoung.Entities.Product>

<h2>Ürünler</h2>
<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-4 product-card">
            <img src="@product.ImagePath" alt="@product.Name">
            <h5>@product.Name</h5>
            <p>Fiyat: @product.Price ₺</p>
        </div>
    }
</div>
